/* Background.module.css */
.background {
  background-size: auto;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.light {
  background-image: url("/images/bg-light.png");
}

.dark {
  background-image: url("/images/bg-dark.png");
}
